<%= form_tag(site_mappings_path(@site), method: 'get', class: 'form-inline') do %>
  <div class="control-group">
    <%= label_tag :contains, class: 'control-label' do %>
      Search mappings <% if params[:contains] and params[:contains].length > 0 %>(<%= link_to 'Remove filter', site_mappings_path(@site) %>)<% end %>
    <% end %>
    <div class="controls">
      <div class="input-prepend input-append">
        <div class="btn-group">
            <button class="btn dropdown-toggle" data-toggle="dropdown">
              Old paths
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li>New URLs</li>
            </ul>
          </div>
        <%= text_field_tag :contains, params[:contains], class: 'span4', placeholder: 'eg /home'  %>
        <%= submit_tag 'Search', name: nil, class: 'btn' %>
      </div>
    </div>
  </div>
<% end %>
