<% content_for(:page_title, "#{@site.default_host.hostname} Mappings") %>

<%= breadcrumb(@site) %>

<div class="page-title-with-border">
  <h1>
    <span class="small"><%= @site.default_host.hostname %></span>
    Editing mappings
  </h1>
</div>

<% if (@mappings.empty? or @mappings.total_count < Mapping.default_per_page) && current_user.can_edit?(@site.organisation) %>
  <div class="add-bottom-margin">
    <%= render partial: 'add_button' %>
  </div>
<% elsif current_user.can_edit?(@site.organisation) %>
  <div class="pull-right add-bottom-margin">
    <%= link_to site_mappings_path(@site), class: 'btn' do %>
      Cancel
    <% end %>
    <%= link_to editmultiple_site_mappings_path(@site), class: 'btn btn-success' do %>
      Save changes
    <% end %>
  </div>
<% end %>

<% if @mappings.any? %>
  <table class="mappings table table-hover table-bordered">
    <thead>
    <tr>
      <th>Original path</th>
      <th class="mapping-type-header" scope="col">New URL</th>
      <th scope="col">
        Toggle
      </th>
    </tr>
    </thead>
    <tbody>
    <% @mappings.each do |mapping| %>
      <tr data-status-code="<%= mapping.http_status %>" class="js-edit-mapping-form">
        <%= form_for mapping, url: polymorphic_url([@site, mapping]), html: {class: 'remove-bottom-margin'} do |f| %>
          <td style="min-width: 400px; vertical-align: middle;">
            <span style="word-break: break-all; display: inline-block"><%= link_to mapping.path, mapping.old_url %></span>
          </td>
          <td style="min-width: 600px; padding:8px; vertical-align: middle;">
            <div class="js-for-redirect">
              <%= f.text_field :new_url, class: 'remove-bottom-margin', style: 'min-width: 486px' %>
            </div>
            <div class="js-for-archive">
              <span class="muted">Archived</span>
            </div>
          </td>
          <td style="width: 100px;" class="js-http-status-wrapper">
            <!--<label style="font-weight: normal"><input type="radio" value="301" style="margin-top: -3px" name="type" <% if mapping.redirect? %>checked="checked"<% end %>>&nbsp;Redirect</label>
            <label style="font-weight: normal"><input type="radio" value="410" style="margin-top: -3px" name="type" <% unless mapping.redirect? %>checked="checked"<% end %>>&nbsp;Archive</label>-->
            <div data-toggle="buttons-radio">
              <button type="button" data-value="410" class="js-for-redirect btn <% unless mapping.redirect? %>active<% end %>">Archive</button>
              <button type="button" data-value="301" class="js-for-archive btn <% if mapping.redirect? %>active<% end %>"><i class="icon-refresh"></i> Redirect</button>
            </div>
          </td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>

  <div class="clearfix">
  <% if (@mappings.empty? or @mappings.total_count < Mapping.default_per_page) && current_user.can_edit?(@site.organisation) %>
    <div class="add-bottom-margin">
      <%= render partial: 'add_button' %>
    </div>
  <% elsif current_user.can_edit?(@site.organisation) %>
    <div class="pull-right add-bottom-margin">
      <%= link_to site_mappings_path(@site), class: 'btn' do %>
        Cancel
      <% end %>
      <%= link_to site_mappings_path(@site), class: 'btn btn-success' do %>
        Save changes
      <% end %>
    </div>
  <% end %>
  </div>

<% else %>
  <p class="no-content no-content-bordered">
    No mappings found
  </p>
<% end %>
<script>GOVUK.Mappings.editAll()</script>
